#breadcrumbs {
}

section#currentContent {
  display: flex;
}

div.content {
  max-width: 740px;
}
div.options {
  align-self: flex-end;
  padding-left: 4em;
}
.options .path {
  padding: 1em;
  background-color: aliceblue;
  border-radius: 3px;
}
.options .path ~ .path {
  margin-top: 1ex;
}
[onclick] {
  cursor: pointer;
}

emph {
  font-style: oblique;
}
