div.amy-container {
    display: flex;
    align-items: baseline;
}

div.amy-content {
    display: flex;
    flex-direction: column;
}

div.amy-content + div.amy-content {
    margin-left: 7%;
}

details + details {
    margin-top: 3%
}

summary {
    background-color: #CCCC99;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 2px;
}

summary * {
    display: inline-block;
}

#questions {
    width: 60%;
}